@import url('./__button-back/action-list__button-back.css');
@import url('./__icon/action-list__icon.css');
@import url('./__text/action-list__text.css');
@import url('./__input-search/action-list__input-search.css');

.action-list {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}