.show-petition {
  margin: 0 auto 10px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  color: black;
  width: 340px;
  max-height: 220px;
  background-color: white;
  border-radius: 10px;
}

.show-petition:hover {
  opacity: 0.4;
}

.show-petition__title {
  margin: 0 0 0 0;
  text-align: center;
}

.show-petition__text {
  margin: 0;
  padding: 0;

  text-align: left;
  height: 120px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.show-petition__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}