@import url('__text/main__text.css');
@import url('__title/main__title.css');
@import url('__subtitle/main__subtitle.css');

.main {
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  display: flex;
  align-content: flex-start;
  justify-content: flex-start;


  background-color: #EBEEF3;
}
