.register__button {
  margin: 35px auto;

  width: 340px;
  height: 90px;

  background-color: #D87648;
  border-radius: 8px;
  border: none;
  
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;

  text-align: center;

  color: #FFFFFF;
}