@import url('./__list/legends__list.css');
@import url('./__element/legends__element.css');
@import url('./__text/legends__text.css');
@import url('./__icon/legends__icon.css');

.legends-petition {
  margin: 0 auto;
  flex: 1 1 auto;
  width: 120px;
  height: 328px;
}