.item-petition__text {
  margin: 0 10px 0 10px;
  width: 240px;
  height: 68px;
  box-sizing: border-box;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #1a263d;
}
