.petition-page__list{
  margin: 20px auto;
  padding: 0 15px 0 15px;
  list-style: none;

  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}