@import url('__icon/search__icon.css');
@import url('__link/search__link.css');
@import url('__button/search__button.css');
@import url('../styles/__input-petition/search__input-petition.css');

.search-petition {
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 95%;
  top: 0;
  left: 30px;
  background-color: #fff;
}