@import url('./__title/user-logIn-form__title.css');
@import url('./__input/user-logIn-form__input.css');
@import url('./__action/user-logIn-form__action.css');
@import url('./__text/user-logIn-form__text.css');
@import url('./__link/user-logIn-form__link.css');

.user-logIn-form{
  margin: auto;
  max-width: 714px;
  height: 388px;


  background-color: #FFFFFF;
  border-radius: 7px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}