.page {
  margin: auto;
  width: calc(100% - 273px * 2 - 180px);
  max-width: 713px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.fieldset {
  width: 100%;
  border: none;
  padding: 20px 0;
  background: #FFFFFF;
  border-radius: 7px;
  height: 70vh;
}

.field {
  display: flex;
  flex-direction: column;
}

.field_hidden {
  display: none;
}

.name {
  height: 36px;
}

.to {
  height: 36px;
}

.description {
  width: 400px;
}

.preview {
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.preview__name {
  text-align: center;
}

.preview__to {
  text-align: center;
}

.preview__description {
  text-align: center;
  white-space: pre;
}

.buttons {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.submit {
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 33px;
  padding: 28px 60px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #d87648;
}

