.navBar {
    padding: 54px 66px 0 66px;
    display: flex;
    width: 180px;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
    flex-direction: column;
    background-color: #1A263D;
}

