.navBar {
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
    flex-direction: column;
    background-color: #1A263D;
    grid-area: navBar;
}

.firstButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}