.mainPage {

  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.text {
  padding: 14px 0 10px 34px;
  max-width: 550px;
  background-color: #fff;
  border-radius: 8px;
}

.text__title {
  margin: 0;
  max-width: 440px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 53px;
}

.text__subtitle {
  margin: 14px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.mainPage__image {
  margin: 0 0 0 22px;
  background-image: url('../../../img/mainPage__image.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 623px;

}