.form {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 714px;
  margin: auto;
  padding: 44px;
  border-radius: 7px;
  background-color: #fff;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  margin: 0 0 24px;
  color: #000;
}

.fieldset {
  display: grid;
  margin-bottom: 44px;
  padding: 0;
  border: none;
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
}

.field {
  display: flex;
  flex-direction: column;
}
.field_big {
  grid-column: 1 / 3;
}

.field input {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  box-sizing: border-box;
  width: 100%;
  height: 76px;
  margin-bottom: 4px;
  padding: 24px;
  color: #1a263d;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #ebeef3;
}

.field input::placeholder {
  color: #818592;
}

.field span {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  padding-left: 19px;
  color: #cf4d4d;
}
