.list-petition {
  overflow-y: scroll;
  flex: 1 1 auto;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 10px;
  max-height: 80%;
  max-width: 80%;
  justify-content: left;
}
